azure_config.ini.*
**/__pycache__/
model/face/*.engine
model/face/*.etlt
model/face/*.txt
model/faciallandmarks/*.engine
model/faciallandmarks/*.etlt
model/faciallandmarks/*.txt
model/gaze/*.engine
model/gaze/*.etlt
!model/*
model/age/*.engine
model/gender/*.engine
