azure_config.ini.*
**/__pycache__/
model/face/*.engine
model/face/*.etlt
model/faciallandmarks/*.engine
model/faciallandmarks/*.etlt
model/gaze/*.engine
model/gaze/*.etlt
model/age/*.engine
model/gender/*.engine
